[user]
  name   = Sandy S Kuo
  email  = 62935115+kuosandys@users.noreply.github.com
  signingKey =  "~/.ssh/id_ed25519"
[github]
  user   = kuosandys
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[gpg]
  format = ssh
[commit]
  gpgSign = true
[tag]
  gpgSign = true
  forceSignedAnnotation = true